<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <title>CoupDeMain</title>

        <!-- Bootstrap core CSS -->
        <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/customize.css"  rel="stylesheet">
    </head>
    <body>

        {% include 'navbar.html' %}
        <div class="container">
            <div class="jumbotron">

                {{ user }}
                <form method="post">
                    <br><br>
                    Titre ?
                    <br>
                    <input type="text" name="titre">
                    <br><br>
                    Ville ?
                    <br>
                    <input type="text" name="ville">
                    <br><br>
                    Prix ?
                    <br>
                    <input type="text" name="prix">
                    <input type="submit" class="btn btn-success">
                    <br><br>
                    <i>{{ erreur }}</i>
                </form>
            </div>
        </div>

  </body>
</html>