<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <title>Grolem</title>

        <!-- Bootstrap core CSS -->
        <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/customize.css"  rel="stylesheet">
    </head>
    <body>

        {% include 'navbar.html' %}
        <div class="container">
            <div class="jumbotron">
                <br><br>
                    {% if cours: %}
                        <div class="affichageCoursActuel">
                            Vous avez cours de {{ cours["name"] }}
                            <br>
                            de {{ cours["heureDebut"] }} à {{ cours["heureFin"] }}
                            <br>
                            {% if cours["classroom"]: %}
                                en {{ cours["classroom"] }}
                            {% endif %}
                            <!-- condition : si personne est un etudiant ou non (cf database)-->
                            {% if prof: %}
                                avec les {{ cours["groupes"] }}
                            {% else: %}
                            <!-- condition : si personne est un professeur ou non (cf database)-->
                            <br> avec {{ cours["prof"] }}
                            {% endif %}
                        </div>

                       <form method="post" action="/Absences{{ listeEleves|length }}">
                            <div class="affichageCoursActuelEleves">
                                <div class="affichageCoursActuelElevesListe">
                                    {% for i in range(listeEleves|length) %}
                                        <br>
                                        <div class="affichageCoursActuelEleve">
                                            <label><input type="checkbox" name="eleve{{ i }}" value = "{{listeEleves[i].id}}" > {{ listeEleves[i].nomPrenom }}</label>
                                        </div>
                                    {% endfor %}
                                    <br>
                                </div>
                                <input type="text" hidden="true" name="nomCours" value="{{ cours["name"] }}">
                                <input type="text" hidden="true" name="debutCours" value="{{ cours["heureDebut"] }}">
                                <input type="text" hidden="true" name="FinCours" value="{{ cours["heureFin"] }}">
                                <input type="text" hidden="true" name="module" value="{{ cours["module"] }}">

                                <input type="submit" class="btn btn-success" value="Valider les absences">
                            </div>

                        </form>
                    {% else : %}
                        <br><br>
                        Vous n'avez actuellement pas cours.
                        <br>
                        <br>
                        <a href="/">Acceder a l'emploi du temps de la journee</a>
                    {% endif %}

            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="framework/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>