<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Grolem</title>

    <!-- Bootstrap core CSS -->
    <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/customize.css"  rel="stylesheet">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">
        <div class="jumbotron">
            <table class="tableEdT">
                <tbody>
                {% for course in courses %}
                <tr class="affichageEdT">
                    <td class="tdEdT">
                        <b>{{ course.title }}</b>
                        <br>
                        {{ course.classroom }}
                        <br>
                        {{ course.horaires }}
                        <br>
                        {{ course.group }}

                    </td>
                    <td class="tdSecret">
                        <div class="secret">
                            <b>Notés absents à ce cours :</b>
                            <br>
                            {% if course.absents==[]: %}
                                Personne
                            {%  endif %}
                            {% for abs in course.absents %}
                            {% if (abs!=course.absents[0]): %}
                            ,
                            {% endif %}
                            {{ abs }}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="framework/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>