<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Grolem</title>

    <!-- Bootstrap core CSS -->
    <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/customize.css"  rel="stylesheet">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">
        <div class="jumbotron">
            Suivi des absences pour un groupe ou un cours
            Groupe ou cours :
            Choisir entre quelle date et quelle date
            Afficher les détails : liste

            <table class="tableAffAbs">
                <thead>
                    <tr>
                        <td class="tdAffAbs1"><b>Date</b></td>
                        <td class="tdAffAbs1"><b>Horaires</b></td>
                        <td class="tdAffAbs1"><b>Cours</b></td>
                        <td class="tdAffAbs2"><b>Absents</b></td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                    </tr>
                </tfoot>

                <tbody>
                    {% set i=0 %}
                    {% for abs in absences %}
                        {% if (i%2==0): %}
                            {% set color='seashell' %}
                        {% else: %}
                            {% set color='white' %}
                        {% endif %}
                        {% set i=i+1 %}
                        <tr>
                            <td class="tdAffAbs1" style="background-color: {{ color }}"> {{ abs.date }} </td>
                            <td class="tdAffAbs1" style="background-color: {{ color }}"> {{ abs.horaires }} </td>
                            <td class="tdAffAbs1" style="background-color: {{ color }}"> {{ abs.cours }} </td>
                            <td class="tdAffAbs2" style="background-color: {{ color }}">
                                {% for a in abs.absents %}
                                    {% if a!=abs.absents[0]: %}
                                        ,
                                    {% endif %}
                                    {{ a }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="framework/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>