<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <title> Login page</title>

        <!-- Bootstrap core CSS -->
        <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/customize.css"  rel="stylesheet">
    </head>
<body>


    {% include 'navbar.html' %}

    <div class="container" style="margin-top: 60px">

      <form method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Login</h2>
          <span class="error">{{error}}</span>
        <input type="text" class="form-control" placeholder="Login" required autofocus name="username" value="{{ username }}"/>

        <input type="password" class="form-control" placeholder="Password" required name="password"/>
        <div class="checkbox">
            <label>Remember Me?<input style="max-width: 15px;max-height: 15px" type="checkbox" class="form-control" name="Remember"/></label>
        </div>
        <button class="btn btn-success" type="submit">Login</button>
      </form>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="framework/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>