<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <title>CoupDeMain</title>

        <!-- Bootstrap core CSS -->
        <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/customize.css"  rel="stylesheet">
    </head>
    <body>

        {% include 'navbar.html' %}
        <div class="container">
            <div class="jumbotron">
                <br><br>
                Mettez votre critere de recherche :
                <br>
                <form method="post">
                    <input type="text" name="recherche">
                    <select name="type">
                        <option value="Ville">Ville</option>
                        <option value="Pseudo">Pseudo</option>
                    </select>
                    <input type="submit" class="btn btn-success">
                    <br><br>

                    <i>{{ erreur }}</i>
                </form>
            </div>
        </div>

        {% for tache in taches %}
            <div class="container">
            <div class="jumbotron">
                <br><br>
                <div class="content-subject">{{tache.titre}}</div>
                <br>
                <div class="PermaLink">
                    <li><a href="/Tache/{{ tache.key().id() }}">Lien pour l'activité </a></li>
                </div>
    		    <div class="created"><u>Date</u> : {{tache.date}}</div>

                <br>
    		    <div class="by"><u>By</u> : {{tache.user}}</div>

                <br>
                <div class="from"><u>From</u> :{{tache.ville}}</div>

                <br>
                <div class="prix"><u>Prix</u> :{{tache.prix}}</div>

                <br>
                <div class="prix"><u> Description</u> : <br>{{tache.desc}}</div>
                <br>
            </div>
            </div>
            <hr>
        {% endfor %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="framework/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>