<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <title>CoupDeMain</title>

        <!-- Bootstrap core CSS -->
        <link href="framework/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/customize.css"  rel="stylesheet">
    </head>
    <body>

        {% include 'navbar.html' %}

        <div class="container">
            <div class="jumbotron">
                <h2>
                    Bienvenue Sur CoupDePouce.com
                </h2>
            </div>
        </div>


    	    <div class="container">
            <div class="jumbotron">
                <br>
                <div class="content-subject">{{tache.titre}}</div>
                <br>
    		    <div class="created"><u>Date</u> : {{tache.date}}</div>

                <br>
    		    <div class="by"><u>By</u> : {{tache.user}}</div>

                <br>
                <div class="from"><u>From</u> :{{tache.ville}}</div>

                <br>
                <div class="prix"><u>Prix</u> :{{tache.prix}}</div>

                <br>
                <div class="prix"><u> Description</u> : <br>{{tache.desc}}</div>
                <br>
                <div class="Participants"><u> Participants</u> : <br></div>
                {% for p in tache.participants %}
                    {{ p }}<br>
                {% endfor %}
                <br>
            {% if cookie %}
                {% if (cookie.split('|')[0]).split('=')[1] in tache.participants %}
                    <li><a href="/deinscrire?valeur={{ tache.key().id() }}">S'enlever de l'événement  </a></li>
                {% else %}
                    <li><a href="/inscrire?valeur={{ tache.key().id() }}">S'ajouter à l'événement  </a></li>
                {% endif %}

            {% endif %}
            </div>
            </div>
            </div>
            <hr>

    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="framework/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>